/**
  Reset
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

/**
  Colors
  Shadows
  Spacings
  Roundings
*/
:root {


  --brand-950: #131b00;
  --brand-900: #354120;
  --brand-800: #b7e550;
  --brand-700: #cdfb6e;
  --brand-600: #95b555;
  --brand-500: #aeca7c;
  --brand-400: #c1dc93;
  --brand-300: #d1eaa7;
  --brand-200: #def3bd;
  --brand-100: #ebf8d6;
  --brand-50: #f7fbf2;
  --brand-25: #fcfdfa;

  --error-950: #55160c;
  --error-900: #7a271a;
  --error-800: #912018;
  --error-700: #b42318;
  --error-600: #d92d20;
  --error-500: #f04438;
  --error-400: #f97066;
  --error-300: #fda29b;
  --error-200: #fecdca;
  --error-100: #fee4e2;
  --error-50: #fef3f2;
  --error-25: #fffbfa;

  --success-950: #053321;
  --success-900: #074d31;
  --success-800: #085d3a;
  --success-700: #067647;
  --success-600: #079455;
  --success-500: #17b26a;
  --success-400: #47cd89;
  --success-300: #75e0a7;
  --success-200: #abefc6;
  --success-100: #dcfae6;
  --success-50: #ecfdf3;
  --success-25: #f6fef9;

  --colors-neutral-950: #111111;
  --colors-neutral-900: #181818;
  --colors-neutral-800: #1e1f24;
  --colors-neutral-700: #62636c;
  --colors-neutral-600: #7f818c;
  --colors-neutral-500: #8d8d8d;
  --colors-neutral-400: #b9bbc6;
  --colors-neutral-300: #e0e0e0;
  --colors-neutral-200: #eeeeee;
  --colors-neutral-100: #f9f9fb;
  --colors-neutral-50: #f4f4f4;
  --colors-neutral-25: #ffffff;

  --colors-primary-950: #131B00;
  --colors-primary-900: #354120;
  --colors-primary-800: #B7E550;
  --colors-primary-700: #CDFB6E;
  --colors-primary-600: #95B555;
  --colors-primary-500: #AECA7C;
  --colors-primary-400: #C1DC93;
  --colors-primary-300: #D1EAA7;
  --colors-primary-200: #DEF3BD;
  --colors-primary-100: #EBF8D6;
  --colors-primary-50: #F7FBF2;
  --colors-primary-25: #FCFDFA;

  --colors-warning-950: #4E1D09;
  --colors-warning-900: #7A2E0E;
  --colors-warning-800: #93370D;
  --colors-warning-700: #B54708;
  --colors-warning-600: #DC6803;
  --colors-warning-500: #F79009;
  --colors-warning-400: #FDB022;
  --colors-warning-300: #FEC84B;
  --colors-warning-200: #FEDF89;
  --colors-warning-100: #FEF0C7;
  --colors-warning-50: #FFFAEB;
  --colors-warning-25: #FFFCF5;

  --colors-success-950: #053321;
  --colors-success-900: #074D31;
  --colors-success-800: #085D3A;
  --colors-success-700: #067647;
  --colors-success-600: #079455;
  --colors-success-500: #17B26A;
  --colors-success-400: #47CD89;
  --colors-success-300: #75E0A7;
  --colors-success-200: #ABEFC6;
  --colors-success-100: #DCFAE6;
  --colors-success-50: #ECFDF3;
  --colors-success-25: #F6FEF9;

  --colors-error-950: #55160C;
  --colors-error-900: #7A271A;
  --colors-error-800: #912018;
  --colors-error-700: #B42318;
  --colors-error-600: #D92D20;
  --colors-error-500: #F04438;
  --colors-error-400: #F97066;
  --colors-error-300: #FDA29B;
  --colors-error-200: #FECDCA;
  --colors-error-100: #FEE4E2;
  --colors-error-50: #FEF3F2;
  --colors-error-25: #FFFBFA;

  --shadow-xs: 0px 1px 2px rgba(10, 13, 18, 0.05);
  --shadow-xs-skeuomorphic: 0px -2px 0px rgba(10, 13, 18, 0.05) inset;
  --shadow-sm: 0px 1px 2px -1px rgba(10, 13, 18, 0.10);
  --shadow-md: 0px 2px 4px -2px rgba(10, 13, 18, 0.06);
  --shadow-lg: 0px 2px 2px -1px rgba(10, 13, 18, 0.04);
  --shadow-xl: 0px 3px 3px -1.5px rgba(10, 13, 18, 0.04);
  --shadow-2xl: 0px 4px 4px -2px rgba(10, 13, 18, 0.04);
  --shaodw-3xl: 0px 5px 5px -2.5px rgba(10, 13, 18, 0.04);

  --spacing-3xs: 0.4rem;
  --spacing-2xs: 0.8rem;
  --spacing-xs: 1.2rem;
  --spacing-sm: 1.6rem;
  --spacing-md: 2.4rem;
  --spacing-lg: 3.2rem;
  --spacing-xl: 4rem;
  --spacing-2xl: 4.8rem;
  --spacing-3xl: 6.4rem;

  --corner-xs: 0.4rem;
  --corner-sm: 0.8rem;
  --corner-md: 1.2rem;
  --corner-lg: 1.6rem;

  --text-2xl: 3.2rem;
  --text-xl: 2.8rem;
  --text-lg: 2.4rem;
  --text-md: 2rem;
  --text-sm: 1.6rem;
  --text-xs: 1.4rem;
  --text-2xs: 1.2rem;
  --text-3xs: 1rem;
}

[data-theme="dark"] {}

html {
  font-size: 10px;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--colors-neutral-50);
  color: var(--colors-primary-dark);
  font-family: 'Instrument Sans', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 1.4rem;
  font-size-adjust: from-font;
  font-weight: 400;
  line-height: 1.375;
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/**
  Typography
*/
h1 {
  // font-size: 12.8rem;
  font-size: var(--text-2xl);
  font-weight: 600;
  line-height: 1.125;
}

h2 {
  // font-size: 9.6rem;
  font-size: var(--text-xl);
  font-weight: 600;
  line-height: 1.375;
}

h3 {
  // font-size: 8.4rem;
  font-size: var(--text-lg);
  font-weight: 600;
  line-height: 1.385;
}

h4 {
  // font-size: 7.2rem;
  font-size: var(--text-md);
  font-weight: 600;
  line-height: 1.25;
}

h5 {
  // font-size: 6rem;
  font-size: var(--text-sm);
  font-weight: 600;
  line-height: 1.2;
}

h6 {
  // font-size: 4.8rem;
  font-size: var(--text-xs);
  font-weight: 600;
  line-height: 1.25;
}

p {
  font-size: var(--text-sm);
  font-weight: 400;
}

figcaption>strong,
p>strong {
  font-weight: 500;
}

hr {
  border: none;
  border-top: 1px solid var(--colors-neutral-400);
}

@media (prefers-reduced-motion: reduce) {

  *,
  ::before,
  ::after {
    transition-duration: 0.001s !important;
  }
}