.checkbox {
  align-items: center;
  appearance: none;
  background-color: var(--colors-neutral-white);
  border-color: var(--colors-neutral-regular);
  border-radius: 6px;
  border-style: solid;
  border-width: 2px;
  color: var(--colors-neutral-white);
  flex-shrink: 0;
  height: 24px;
  justify-content: center;
  margin: 0.8rem 0.8rem 0.8rem 0;
  width: 24px;

  &:checked {
    background-color: var(--colors-primary);
    border-color: var(--colors-primary);

    &::after {
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PHBvbHlsaW5lIHBvaW50cz0iMjAgNiA5IDE3IDQgMTIiPjwvcG9seWxpbmU+PC9zdmc+');
      content: '';
      height: 16px;
      position: absolute;
      width: 16px;
    }

    &:not([aria-disabled="true"]):hover,
    &:not(:disabled):hover {
      background-color: var(--colors-primary-dark);
      border-color: var(--colors-primary-dark);
    }
  }

  &[aria-disabled="true"],
  &:disabled {
    opacity: 0.3;
  }

  &:not([aria-disabled="true"]),
  &:not(:disabled) {
    cursor: pointer;

    +label {
      cursor: pointer;
    }
  }

  &:not([aria-disabled="true"]):hover,
  &:not(:disabled):hover {
    border-color: var(--colors-neutral-dark);
  }
}