.radio-group {
  border-width: 0;

  &:disabled {
    .radio {
      opacity: 0.4;
    }
  }

  legend {
    color: var(--colors-neutral-dark);
    font-size: 1.2rem;
    font-weight: 500;
    padding-inline-start: 0.2rem;
  }

  .radio {
    align-items: flex-start;
    display: flex;
    margin: 1rem 0;

    input {
      appearance: none;
      accent-color: var(--colors-neutral-dark);
      border: 1.5px solid var(--colors-neutral-dark);
      border-radius: 50%;
      height: 2.4rem;
      margin-inline-end: 0.8rem;
      min-width: 2.4rem;
      position: relative;
      width: 2.4rem;

      &[disabled],
      &[aria-disabled=true] {
        opacity: 0.3;
      }

      &::before {
        bottom: 0;
        content: '';
        height: 0;
        left: 0;
        margin: auto;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
      }

      &:checked::before {
        border: 7px solid var(--colors-neutral-dark);
        border-radius: 50%;
        outline-offset: -8px;
      }
    }

    label {
      color: var(--colors-neutral-dark);
      padding-block-start: 0.4rem;

      &:has(*) {
        padding-block-start: 0;
      }
    }
  }
}