.container {
  background-color: var(--colors-neutral-200);
  border-radius: var(--corner-sm);
  display: inline-grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  padding: calc(var(--spacing-2xs) / 2);

  li {
    list-style: none;

    button {
      background-color: transparent;
      border-radius: var(--corner-xs);
      border-width: 0;
      color: var(--colors-neutral-400);
      cursor: pointer;
      font-size: var(--text-sm);
      font-weight: 500;
      line-height: 0.7;
      padding-block: 1.1rem;
      padding-inline: 5.6rem;
      text-align: center;
      width: 100%;

      &.active {
        background-color: var(--colors-neutral-25);
        color: var(--colors-neutral-950);
        font-weight: 500;
      }
    }
  }
}