.container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;

  >h2 {
    width: 100%;
  }

  >div {
    font-size: 1.2rem;
    width: 15rem;

    >div {
      background-color: var(--colors-neutral-900);
      width: 12rem;
      height: 8rem;
      margin-bottom: var(--spacing-xs);
    }
  }
}