.stepper {
  column-gap: 0.8rem;
  display: flex;

  >span {
    background-color: var(--colors-neutral-medium);
    border-radius: 0.2rem;
    flex-grow: 1;
    height: 0.4rem;

    &.stepped {
      background-color: var(--colors-primary);
    }
  }

  .step {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    span:first-of-type {
      background-color: var(--colors-neutral-medium);
      border-radius: 0.2rem;
      flex-grow: 1;
      height: 0.4rem;

      &.stepped {
        background-color: var(--colors-primary);
      }
    }

    span:last-of-type {
      display: inline-block;
      font-size: 1.4rem;
      font-weight: 500;
      margin-block-start: var(--spacing-xxsmall);
    }
  }
}