.container {
  align-items: center;
  display: flex;
  inset-block-start: 0;
  inset-inline-start: 50%;
  position: fixed;
  transform: translateX(-50%);
}

.notification {
  animation-fill-mode: both;
  border: 0.1rem solid var(--colors-neutral-400);
  border-radius: var(--corner-md);
  box-shadow: var(--shadow-sm);
  display: inline-flex;
  color: var(--colors-neutral-800);
  font-size: 1.2rem;
  gap: var(--spacing-2xs);
  padding: 1.2rem; // TODO: Existing spacing variables don't support the design
  transform: translateY(calc(var(--spacing-sm) * -1));
}

.show {
  align-items: center;
  animation-name: notify;
  animation-duration: 3.5s;
  background-color: var(--colors-neutral-25);
  display: flex;
}

@media (prefers-reduced-motion: reduce) {
  .show {
    animation-name: notify-reduced;
  }
}

@keyframes notify {
  0% {
    translate: 50% calc(var(--spacing-sm) * -1);
  }

  5% {
    translate: 50% var(--spacing-lg);
  }

  95% {
    translate: 50% var(--spacing-lg);
  }

  100% {
    translate: 50% calc(var(--spacing-sm) * -1);
  }
}

@keyframes notify-reduced {
  0% {
    translate: 50% calc(var(--spacing-sm) * -1);
  }

  1% {
    translate: 50% var(--spacing-lg);
  }

  99% {
    translate: 50% var(--spacing-lg);
  }

  100% {
    translate: 50% calc(var(--spacing-sm) * -1);
  }
}

.circle {
  align-items: center;
  background-color: var(--colors-primary-800);
  border-radius: 50%;
  color: var(--colors-neutral-25);
  display: flex;
  height: 1.4rem;
  justify-content: center;
  width: 1.4rem;
}