.button {
  align-items: center;
  appearance: none;
  background-color: var(--colors-primary);
  border-radius: var(--corner-medium);
  border-width: 0;
  color: var(--colors-neutral-white);
  cursor: pointer;
  display: inline-flex;
  font-size: 1.4rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.15;
  padding-block: 1.2rem;
  padding-inline: 1.2rem;

  &.block {
    border-radius: var(--corner-big);
    display: flex;
    padding-block: var(--spacing-xsmall);
    width: 100%;
  }

  &:active {
    background-color: var(--colors-primary-dark);
  }

  &[aria-disabled="true"],
  &:disabled {
    background-color: var(--colors-neutral-medium);
    color: var(--colors-neutral-regular);
    cursor: auto;
  }

  *:has(+ svg),
  svg:has(+ *) {
    margin-inline-end: 0.8rem;
  }
}