.button {
  align-items: center;
  appearance: none;
  border-radius: var(--corner-sm);
  border-width: 0;
  color: var(--colors-neutral-900);
  cursor: pointer;
  display: inline-flex;
  font-size: var(--text-xs);
  font-weight: 600;
  justify-content: center;
  line-height: 1.5715;
  padding-block: var(--spacing-xs);
  padding-inline: var(--spacing-xs);

  &.block {
    display: flex;
    width: 100%;
  }

  &.primary {
    background-color: var(--colors-primary-700);
    border: 0.1rem solid var(--colors-primary-700);
    color: var(--colors-primary-950);

    &:hover {
      background-color: var(--colors-primary-800);
      border: 0.1rem solid var(--colors-primary-800);
      box-shadow: var(--shadow);
    }

    &:active {
      background-color: var(--colors-primary-700);
      border: 0.1rem solid var(--colors-primary-700);
    }

    &[aria-disabled="true"],
    &:disabled {
      background-color: var(--colors-neutral-50);
      border: 0.1rem solid var(--colors-neutral-50);
      color: var(--colors-neutral-400);
      cursor: auto;
    }
  }

  &.secondary {
    background-color: var(--colors-neutral-50);
    border: 0.1rem solid var(--colors-neutral-400);
    color: var(--colors-neutral-900);

    &:hover {
      background-color: var(--colors-neutral-300);
      box-shadow: var(--shadow);
    }

    &:active {
      background-color: var(--colors-neutral-50);
    }

    &[aria-disabled="true"],
    &:disabled {
      background-color: var(--colors-neutral-50);
      border: 0.1rem solid var(--colors-neutral-300);
      color: var(--colors-neutral-400);
      cursor: auto;
    }
  }

  &.danger {
    background-color: var(--colors-error-200);
    border: 0.1rem solid var(--colors-error-400);
    color: var(--colors-error-900);

    &:hover {
      background-color: var(--colors-error-300);
      box-shadow: var(--shadow);
    }

    &:active {
      background-color: var(--colors-error-200);
    }

    &[aria-disabled="true"],
    &:disabled {
      background-color: var(--colors-neutral-50);
      border: 0.1rem solid var(--colors-neutral-300);
      color: var(--colors-neutral-400);
      cursor: auto;
    }
  }

  &.ghost {
    background-color: transparent;

    &:active {
      background-color: var(--colors-neutral-50);
      color: var(--colors-neutral-950);
    }

    &[aria-disabled="true"],
    &:disabled {
      background-color: var(--colors-neutral-50);
      color: var(--colors-neutral-600);
    }
  }

  &.tab {
    background-color: var(--colors-neutral-25);
    border: 0.1rem solid var(--colors-neutral-200);
    color: var(--colors-primary-950);
    font-weight: 400;
    line-height: 1;
    padding-block: var(--spacing-2xs);

    &:hover {
      background-color: var(--colors-neutral-200);
    }

    &:active {
      background-color: var(--colors-neutral-950);
      color: var(--colors-neutral-25);
    }

    &[aria-disabled="true"],
    &:disabled {
      background-color: var(--colors-neutral-50);
      color: var(--colors-neutral-600);
    }

    &.active {
      background-color: var(--colors-primary-950);
      border: 0.1rem solid var(--colors-primary-950);
      color: var(--colors-neutral-25);
    }
  }

  *:has(+ svg),
  svg:has(+ *) {
    margin-inline-end: var(--spacing-2xs);
  }
}