.button {
  align-items: center;
  appearance: none;
  background-color: var(--colors-primary);
  border-radius: 1.2rem;
  border-width: 0;
  color: var(--colors-neutral-white);
  cursor: pointer;
  display: inline-flex;
  font-size: 1.4rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.285;
  padding: 1.2rem;

  &.block {
    border-radius: 1.8rem;
    display: flex;
    width: 100%;
  }

  &:active {
    background-color: var(--colors-primary-dark);
  }

  &:disabled {
    background-color: var(--colors-neutral-medium);
    color: var(--colors-neutral-regular);
  }

  svg {
    margin-inline-end: 0.8rem;
  }
}