.skeleton {
  animation-name: breathe;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-color: var(--colors-neutral-medium);
  border-radius: var(--corner-big);
  height: 100%;
  width: 100%;
}

@keyframes breathe {
  0% {
    background-color: var(--colors-neutral-medium);
  }

  50% {
    background-color: var(--colors-neutral-light);
  }

  100% {
    background-color: var(--colors-neutral-medium);
  }
}