.nav-item {
  background-color: var(--colors-neutral-25);
  border: 0.1rem solid transparent;
  border-radius: var(--corner-sm);
  list-style-type: none;

  &:not(.group):hover,
  &:not(.active):hover {
    background-color: var(--colors-neutral-100);
    border: 0.1rem solid var(--colors-neutral-200);
    box-shadow: var(--shadow);
  }

  &.group,
  &.active {
    background-color: var(--colors-neutral-50);
    border: 0.1rem solid var(--colors-neutral-300);
    box-shadow: var(--shadow);

    &:hover {
      background-color: var(--colors-neutral-50);
      border: 0.1rem solid var(--colors-neutral-300);
      box-shadow: var(--shadow);
    }

    >button,
    >a {
      &:has(span > span) {
        >svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  >button,
  >a {
    align-items: center;
    color: var(--colors-neutral-900);
    display: flex;
    font-size: var(--text-sm);
    gap: var(--spacing-xs);
    padding: var(--spacing-sm);
    text-decoration: none;

    &:has(span > span) {
      justify-content: space-between;
    }

    >span:has(span) {
      align-items: center;
      display: flex;
      gap: var(--spacing-xs);
    }
  }

  &.group {
    &.active {

      >button,
      a {
        color: var(--colors-primary-600);
      }
    }
  }
}